* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(161, 179, 255);
    align-items: center;
    justify-content: space-between;
}

#imagem {
    width: 100%;
    height: 60px;
}

#logo {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav {
    display: flex;
    gap: 10px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
}

#circulo {
    height: 200px;
    margin: 20px;
}

#textoHome {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

#explore {
    background-color: rgb(110, 113, 250);
}

#exploreT {
    display: flex;
    justify-content: center;
}

#exploreC {
    display: flex;
    justify-content: space-between;
}

article {
    margin: 20px;
    margin-top: 80px;
}

#imgE {
    margin-bottom: 20px;
    margin-top: 10px;
}

footer {
    background-color: rgb(63, 250, 104);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.posts {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.post-img {
  width: 120px;
  height: 120px;
  background-color: #547cff;
  object-fit: cover;
}

.post-text h2 {
  font-size: 24px;
  margin: 0;
}

.post-text h3 {
  font-size: 16px;
  color: #444;
  margin: 4px 0;
}

.post-text p {
  margin: 4px 0 10px;
}

.autor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.autor img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.networking {
  background-color: #1f8fff;
  padding: 50px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.networking-text {
  flex: 1;
}

.networking-text h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.networking-text p {
  margin: 6px 0;
}

.networking-imgs {
  display: flex;
  gap: 20px;
}

.img-placeholder {
  width: 120px;
  height: 160px;
  background-color: #ff3f3f;
}
.elemento-que-gira {
  animation-name: meu-giro;
  animation-duration: 2s;
  animation-iteration-count: infinite; 
}
@keyframes meu-giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}